name: Release

on:
  push:
    branches:
      - main
    paths:
      - 'packages/**'
      - '.changeset/**'
      - 'package.json'
      - 'yarn.lock'

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --mode=skip-build

      - name: Build, Lint
        run: yarn turbo build lint

      - name: Version Packages
        run: yarn changeset version

      - name: Publish to npm
        run: yarn changeset publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
